@font-face {
  font-family: Vegur-Bold;
  src: url('/fonts/vegur_bold.otf');
}


@font-face {
  font-family: Vegur;
  src: url('/fonts/vegur_regular.otf');
}

#content {
  width: 40%;
  margin: 0 auto;
  padding: 2em 0;
}

ul,p {
  margin: 1.7em 0;
}

p,li {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #333;
  font-family: "Georgia", "62.5% palatino","times new roman",serif;
  text-align: justify;
}

h1,h2 {
  font-family: "Vegur-Bold", "Georgia", "62.5% palatino","times new roman",serif;;
  letter-spacing: -1px;
  font-weight: normal;
  color: #333;
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}


a, a.visited, a.hover, a.active {
  color: #900;
  text-decoration: none;
}

ul#links li {
  font-size: 1.2em;
  display: inline;
  margin-right: 0.5em;
  text-transform: lowercase;
}
