<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BroadcastingAdam</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6388387-1']);
      _gaq.push(['_setDomainName', 'broadcastingadam.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>BroadcastingAdam</h1>
        <a href="/atom.xml" id="rss"><img src="/images/rss_icon.png" alt="rss" /></a>
        <nav>
          <a href="/">Home</a>
          <a href="/nettuts.html">Nettuts</a>
        </nav>
      </header>
      <section id="about">
        <h2>About</h2>
        <p>
          My name is Adam Hawkins. I am web application developer who uses 
          Ruby on Rails and Javascript. I currently live in Helsinki.
          I'm the lead developer on a CRM right now and post rails tips and tricks here. 
          You can follow me on twitter <a href="http://twitter.com/Adman65">@Adman65</a>. 
          You can see my code on <a href="http://github.com/Adman65">Github</a> 
          or contact me on <a href="http://www.linkedin.com/pub/adam-hawkins/b/8/925">LinkedIn</a>.
          You can also catch me on freenode as Adman65 in #rubyonrails or #railsbridge.
        </p>
      </section>

      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
