<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
  </head>
  <body>
    <div id="post-title">
      <h1>{{page.title}}</h1>
    </div>

    <div id="content">
      <div class="meta bordered muted">
        Posted on {{ page.date | date: '%B %d, %Y' }} - 
        <a href="http://feeds.feedburner.com/BroadcastingAdam">Subscribe</a> - 
        <a href="/">Home</a>
      </div>

      <article>
        {{ content }}

        <p class="signature muted"><em>&mdash; Adam Hawkins</em></p>
      </atricle>

      <footer>
        <div id="contact" class="bordered muted">
          Find a problem or have a question about this post? Tweet me <a href="http://twitter.com/adman65/">@adman65</a>.
        </div>

        <p id="ad">
          Are you having performance problems in your rails
          application? I offer <a href="/performance-consultation.html">performance consultations</a> starting at $200.
          I'm also writing a <a href="https://convertkit.com/app/adamhawkins/mastering-rails-caching">book</a>
          on making your app faster. Sign up for the book's launch list and get a freebie.
        </p>
      </footer>
    </div>

    {% include tracking.html %}
  </body>
</html>
