<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BroadcastingAdam - {{ page.title }}</title>

    {% include stylesheets.html %}

    <script type="text/javascript" src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/github.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div id="container">
      {% include header.html %}

      <div id="content" class="post">
        <header >
          <h2>{{ page.title }}</h2>
          <div class='meta'>
            </p>{{ page.date | date: '%B %d, %Y' }} &nbsp; | &nbsp; {{page.tags | join: ' '}}</p>
          </div>
        </header>
        <article>
          {{ content }}

          <h3>Contact Me</h3>
          <p>
            Find a problem or have a question about this post? <a href="http://twitter.com/adman65/">@adman65</a> on
            Twitter or Adman65 on #freenode. Find me in (#rubyonrails or
            #sproutcore). You can find my code on <a href="http://github.com/twinturbo/">GitHub</a> or hit me up on
            <a href="https://plus.google.com/u/0/116377228668850173159">Google+</a>.
          </p>
        </article>
      </div>
    </div>

    {% include tracking.html %}
  </body>
</html>
