<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BroadcastingAdam</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/github.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div id="container" class='no-header'
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/nettuts.html">Nettuts</a>
        </nav>
      </header>
      <div id="content" class="post">
        <header >
          <h2>{{ page.title }}</h2>
          <div class='meta'>
            </p>{{ page.date | date: '%B %d, %Y' }} &nbsp; | &nbsp; {{page.tags | join: ' '}}</p>
          </div>
        </header>
        <article>
          {{ content }}
        </article>
      </div>
    </div>
  </body>
</html>
